body{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.home-conteiner{
display: flex;
flex-wrap: wrap;
height: 100%;
width: 100%;

}
.derecho{
    display: flex;
    flex-wrap:wrap;
flex-direction: column;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    width: 70% ;

}
.izquierdo{
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    width: 30%;
    height: 100%;
    background-color: rgba(53, 52, 52, 0.897);
    color: aliceblue;

}